
<!-- My Sidebar Navigation -->

  <div class="head0logo">
      <i class="fab fa-shopware"></i>
      <p class="logo">Assist</p>
  </div>

  <div class="ul-list-items">
      <a routerLink="/" class="icon-1"> <i class="fa fa-dashboard">&nbsp;&nbsp; </i>Dashboard</a>
      <a routerLink="/post-content" class="icon-1"> <i class="fas fa-tasks">&nbsp;&nbsp;</i>Post</a>
      <a href="" class="icon-1"> <i class="far fa-chart-bar">&nbsp;&nbsp;</i>Users</a>
      <a href="" class="icon-1"> <i class="fas fa-users">&nbsp;&nbsp;</i>Account</a>
      <a href="./views/forms/forms.html" class="icon-1"> <i class="fas fa-cog">&nbsp;&nbsp;</i>Settings</a>
  </div>

  <div class="logout">
      <a href="" class="icon-log hover_not">
          <i class="fas fa-comments"></i>
          &nbsp;&nbsp;
          Notifications
          &nbsp;&nbsp;<span class="not_fication">+1</span>

      </a>
      <a routerLink="/login" class="icon-log hover_out">
          <i class="fas fa-sign-out-alt">&nbsp;&nbsp;</i>

          logout
      </a>
  </div>

