<div class="container_section">

  <div class="login_main">

    <div class="login_head">
      <app-loader></app-loader>
      <!-- <i class="far fa-dot-circle logo-main"></i> -->
    </div>
    <div class="container form_element">




        <!-- <label class="label-element" for="">Username</label> -->
        <!-- <input class="input-data"  type="text" placeholder="Username"> -->
        <label class="label-element" for="">Email</label>
        <input class="input-data form-control" type="email" placeholder="Email">
        <label class="label-element" for="">Password</label>
        <input class="input-data form-control" type="password" placeholder="Password">

        <button routerLink="/" class="btn btn-primary" type="submit">connexion <i class="fas fa-sign-in-alt iconn-btn"></i> </button>


    </div>
    <div class="login_footer">
      <!-- <span>Karo &copy; all right reserve</span> -->
       <img width="50" src="../../../assets/img/open-box.png" alt="">
    </div>

  </div>

</div>
